$white = #fafafa

$smoky = #BAB6CB
$gray = #f1f0f4
$gray-light = #f2f2f2

$blue = #6C6FF5
$blue-dark = #314d5d

$green = #46b29d

$orange = #ff7300

$crash = #D83232
$red = #E53535

$black = #323234
$black-dark = #282829
