.messenger
  display: none
  position: fixed
  top: 40px
  right: 10px
  width: 50%
  max-width: 450px
  min-width: 300px
  height: -webkit-calc(100% - 80px)
  height: calc(100% - 80px)
  color: $black
  background: $gray-light
  border: 2px solid $black
  box-shadow(0, 1px, 3px, $black)
  z-index: 8000

.messenger-open .messenger
  display: block

.messenger-header
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 30px
  border-bottom: 1px solid $smoky

.messenger-header-title
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  padding: 10px
  font-size: 0.825rem
  line-height: 0.825rem

.messenger-header-close
  position: absolute
  top: 0
  right: 0
  width: 28px
  height: 28px
  background: $crash
  border: 1px solid $white
  cursor: pointer
  animation($animation_time, $animation_time_delay)
  &:hover
    background: $red

.messenger-header-close-icon
  position: absolute
  top: 50%
  left: 50%
  width: 1px
  height: 1px
  background: $white
  transform(-50%, -50%, 0)
  &::before, &::after
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 20px
    height: 2px
    background: inherit
  &::before
    transform(-50%, 0, -45deg)
  &::after
    transform(-50%, 0, 45deg)

.messenger-body
  position: absolute
  top: 30px
  left: 0
  width: 100%
  height: -webkit-calc(100% - 200px)
  height: calc(100% - 200px)
  padding: 10px
  overflow: hidden
  overflow-y: auto

.messenger-message-box,
.messenger-message-animate-box
  position: relative
  width: 100%
  height: auto
  margin: 5px 0

.messenger-message-ctx
  position: relative
  width: 80%
  height: auto
  padding: 10px
  overflow: hidden
  &.you
    margin-left: 20%
    background: $white

.messenger-message-author
  position: relative
  width: 100%
  height: auto
  font-size: .7rem
  font-weight: bold

.messenger-message-body
  position: relative
  width: 100%
  margin-top: 10px
  font-size: 0.825rem
  line-height: 1.25rem

.messenger-message-animate-pen
  display: block
  position: absolute
  top: 0
  left: 0
  width: 12px
  height: 12px
  background: url("../img/edit.png") center no-repeat
  background-size: cover
  transform(0, 0, 0)
  animation-duration: 1s
  animation-name: animated-pen
  animation-iteration-count: infinite

@keyframes animated-pen
  from
    transform(0, 0, 0)
  to
    transform(0, 0, -10deg)

.messenger-message-animate-dotted
  position: relative
  display: inline-block
  margin-left: 17px
  width: 12px
  height: 12px

.messenger-send
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: 170px
  padding: 10px
  border-top: 1px solid $smoky

.messenger-send-input
  position: relative
  width: 100%
  height: 110px

textarea
  &#messenger
    width: 100%
    height: 100%
    padding: 10px
    font-size: 1rem
    resize: none
    border: 1px solid $smoky

.messenger-send-btn
  position: absolute
  bottom: 10px
  left: 10px
  padding: .4rem 0.825rem
  font-size: 0.825rem
  color: $white
  background: $blue
  cursor: pointer
  box-shadow(0, 1px, 1px, $blue-dark)
  &:hover
    box-shadow(0, 0, 1px, $blue-dark)
