transform(x, y, rotate)
  transform: translateX(x) translateY(y) rotate(rotate)

animation-when-event(time, time_delay)
  transition: all time ease
  transition-delay: time_delay

box-shadow(x, y, blur, color)
  box-shadow: x y blur 0px color

bg-glitch-smoky(t)
  background: -webkit-repeating-linear-gradient(0deg, $smoky 0px, $smoky 1px, transparent 2px, transparent t)
  background: -o-repeating-linear-gradient(0deg, $smoky 0px, $smoky 1px, transparent 2px, transparent t)
  background: repeating-linear-gradient(0deg, $smoky 0px, $smoky 1px, transparent 2px, transparent t)


bg-glitch-red(t)
  background: -webkit-repeating-linear-gradient(0deg, $red 0px, $red 1px, transparent 1px, transparent t)
  background: -o-repeating-linear-gradient(0deg, $red 0px, $red 1px, transparent 1px, transparent t)
  background: repeating-linear-gradient(0deg, $red 0px, $red 1px, transparent 1px, transparent t)

clip-path(tlx, tly, trx, try, brx, bry, blx, bly)
  clip-path: polygon(tlx tly, trx try, brx bry, blx bly)

random(min,max)
  return floor(math(0, 'random')*(max - min + 1) + min)
