@import "resets"
@import "colors"

/*===========================

 Fonts
 
============================*/
@font-face
  font-family ProstoOne
  font-style normal
  src url(../fonts/ProstoOne.woff) format("woff"),
      url(../fonts/ProstoOne.woff2) format("woff2")

/*===========================
 
 Primary
 
============================*/
*, *::after, *::before
  box-sizing: border-box

html, body
  width: 100%
  height: 100%
  font-size: 100%
  overflow: hidden

body
  font-family: ProstoOne, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  line-height: 1.125rem
  color: $white
  background-color: $black-dark