doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="description" content="I'm a GoodCrash, I'm a indie games developer")
    meta(name="author" content="Aleksandr Lipovskiy")

    meta(property="og:site_name" content="goodcrash")
    meta(property="og:url" content="https://goodcrash.games")
    meta(property="og:title" content="GoodCrash | Indie games developer")
    meta(property="og:description" content="Hello! I'm a GoodCrash, I'm a indie games developer")
    meta(property="og:image" content="https://goodcrash.games/img/goodcrash.png")
    meta(property="og:type" content="website")

    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    title GoodCrash | Indie games developer
    
  body(id="body")
    header
      div(class="nav-trigger")
        - var countPoints = new Array(9);
        each i in countPoints
          div(class="nav-trigger-point")

      div(class="active-window-title" name="i18n" data-i18n="home") Home

      div(class="header-tools")
        div(class="main-chat")
          div(class="main-chat-icon")
          div(class="main-chat-count-new") 0

        div(class="lang-select-links")
          div(class="lang-selectors ru-lang left") ru
          div(class="lang-selectors en-lang") en

        div(class="volume-trigger")

        div(class="data-time")

    main(id="main")
      div(class="folders")
        div(class="my-games-folder")
          a(href="my-games" class="nav-link")
            div(class="my-games-icon")
            div(class="my-games-title" name="i18n" data-i18n="my games") My Games

      div(class="say-hello")
        div
          span(class="say-hello-hello" name="i18n" data-i18n="main hello" load="false")
          span(class="say-hello-indie" name="i18n" data-i18n="main indie" load="false")
          span(class="say-hello-dev" name="i18n" data-i18n="main dev" load="false")
          span(class="cursor") |

      div(class="bg")
        div(class="bg-icon")

    div(class="messenger")
      div(class="messenger-header")
        div(class="messenger-header-title" name="i18n" data-i18n="messages") Messages
        div(class="messenger-header-close")
          div(class="messenger-header-close-icon")

      div(class="messenger-body")
        div(class="messenger-message")
          div(class="messenger-message-ctx")
            div(class="messenger-message-author") GoodCrash
            div(class="messenger-message-body")

      div(class="messenger-send")
        div(class="messenger-send-input")
          textarea(id="messenger" name="messenger")

        div(class="messenger-send-btn" name="i18n" data-i18n="send") Send
